<div class="modal-content bg-dark text-white">
    <div class="modal-header">
        <h4 class="modal-title">Delete This Rundown</h4>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>


    <div class="modal-body">
        <div class="row mb-3 text-center">
            <h4 class="text-warning">{{rundown.title}}</h4>
            <p>Are you sure?</p>
            <div>
                <button class="btn btn-danger btn-sm me-3" data-bs-dismiss="modal"
                    (click)="alertService.showAlert('Deleted ' + rundown.title, 'danger')">
                    Delete
                </button>
                <button class="btn btn-primary btn-sm" data-bs-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
    </div>
</div>