<div class="content-view"
  (mousemove)="xPos = getMoveX($event); isMoveActive ? sidebarWidth=(startWidth + xPos - xStart) : '';"
  (mousedown)="xStart = getMoveX($event)" (mouseup)="isMoveActive=false" (dragend)="isMoveActive=false">

  <!-- navbar -->
  <div #nav [ngStyle]="{'width': '100%', 'height': navbarHeight + 'px','float': 'left'}">
    <app-navbar></app-navbar>
  </div>

  <!-- sidebar-left -->
  <div #side
    [ngStyle]="{'width': sidebarWidth + 'px', 'height': (screenHeight - navbarHeight) + 'px', 'float': 'left', 'position' : 'relative'}">
    <app-sidebar-left></app-sidebar-left>

    <!-- dragDiv -->
    <div class="side-drag no-select" (mousedown)="isMoveActive=true; startWidth=side.getClientRects()[0].width;">
      <i class="bi bi-arrow-left-right"></i>
    </div>
  </div>

  <!-- main-content -->
  <div #main
    [ngStyle]="{'width': (screenWidth - sidebarWidth) + 'px', 'height': (screenHeight - navbarHeight) + 'px' , 'float': 'left'}">
    <app-main-content></app-main-content>
  </div>
</div>
<!-- <div #default style="display: none;"></div> -->
<!-- <div style="position: absolute; top: 300px; right: 300px; z-index: 20; color: white">
  screenWidth: {{screenWidth}}<br>
  screenHeight: {{screenHeight}}<br>
  navbarHeight: {{navbarHeight}}<br>
  sidebarWidth: {{sidebarWidth}}<br>
  mainWidth: {{mainWidth}}<br>
  xPos: {{xPos}}<br>
  yPos: {{yPos}}<br>
  xStart: {{xStart}}<br>
  yStart: {{yStart}}<br>
  startWidth: {{startWidth}}<br>
  startHeight: {{startHeight}}<br>
  xEnd: {{xEnd}}<br>
  yEnd: {{yEnd}}<br>
  activeElement: {{activeElement}}<br>
</div> -->