table {
    min-width: max-content;
    width: auto;
    table-layout: fixed;
}

.cursor-move {
    cursor: move;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-col-resize {
    cursor: col-resize;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.col-menu {
    cursor: pointer;
    width: 33px;
}

.col-resize {
    position: absolute; 
    top: 0px; 
    right: -10px; 
    width: 10px; 
    z-index: 10;
    cursor: col-resize;
    /* height: 100%; */
}

.col-status {
    width: 33px;
    font-size: 1.5em;
    line-height: 1em;
    text-align: center;
    /* cursor: pointer; */
}

.col-move {
    width: 25px;
    cursor: move;
}

.row-highlight {
    outline: 2px solid yellow;
}

.no-highlight {
    outline: 0px;
}

table th, td {
    border: 1px solid #6c757d;
}


td div div, th div div  {
    white-space: pre-line
}