<!--  -->
<div class="container-fluid no-select"
    (mousemove)="xPos=getMoveX($event); isMoveActive ? colWidths[activeColIndex]=(startWidth + xPos - xStart) : '';"
    (mousedown)="xStart=xPos" (mouseup)="isMoveActive=false; activeColIndex=-1" (mouseleave)="isMoveActive=false"
    (dragend)="isMoveActive=false">


    <div #tableContainer class="row mt-2">
        <div class="row">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">



                <li *ngFor="let rundown of rundowns; let i = index" class="nav-item" role="presentation">
                    <button [class]="i==0 ? 'nav-link active' : 'nav-link'" [id]="'pills-' + i + '-tab'"
                        data-bs-toggle="pill" [attr.data-bs-target]="'#pills-' + i" type="button" role="tab"
                        [attr.aria-controls]="'pills-' + i" aria-selected="true"
                        (click)="activeRundownIndex=i">{{rundown.title}}</button>
                </li>


                <!-- <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-0-tab" data-bs-toggle="pill" data-bs-target="#pills-0"
                        type="button" role="tab" aria-controls="pills-0" aria-selected="true">Rundown 0</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-1-tab" data-bs-toggle="pill" data-bs-target="#pills-1"
                        type="button" role="tab" aria-controls="pills-1" aria-selected="false">Rundown 1</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-2-tab" data-bs-toggle="pill" data-bs-target="#pills-2"
                        type="button" role="tab" aria-controls="pills-2" aria-selected="false">Rundown 2</button>
                </li> -->
            </ul>
        </div>
        <div *ngFor="let rundown of rundowns; let i = index" class="tab-content" id="pills-tabContent">
            <div [class]="i==0 ? 'tab-pane fade show active' : 'tab-pane fade'" [id]="'pills-' + i" role="tabpanel"
                [attr.aria-labelledby]="'pills-' + i + '-tab'">

                <table #table class=" table table-dark table-striped table-bordered">
                    <thead>
                        <tr>
                            <!-- RUNDOWN MENU -->
                            <th scope="col" class="col-menu text-center px-0" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <div class="dropdown">
                                    <!-- RUNDOWN MENU ICON -->
                                    <i class="bi bi-caret-down-square"></i>
                                    <!-- RUNDOWN MENU OPTIONS -->
                                    <ul class="dropdown-menu dropdown-menu-secondary">
                                        <li><button class="dropdown-item"
                                                [class]="selectedRowIndexes[activeRundownIndex].length == rundowns[activeRundownIndex].rows.length ? 'disabled' : ''"
                                                type="button" (click)="selectAllRows(rundown)">Select All Rows</button>
                                        </li>
                                        <li><button class="dropdown-item"
                                                [class]="selectedRowIndexes[activeRundownIndex].length < 1 ? 'disabled' : ''"
                                                type="button" (click)="unselectAllRows()">Unselect all Rows</button>
                                        </li>
                                        <li><button class="dropdown-item" type="button" (click)="copyRows()">Copy
                                                Rows</button></li>
                                        <li><button class="dropdown-item" type="button" (click)="pasteRows()">Paste
                                                Rows</button></li>
                                    </ul>
                                </div>
                            </th>
                            <!-- ROW MOVE ICON -->
                            <th scope="col" class="px-0 col-move text-center" style="cursor: default; font-size: .8em">
                                <i class="bi bi-arrow-down-up"></i>
                            </th>
                            <!-- LOCK MENU -->
                            <th class="col-status">
                                <div class="dropdown">
                                    <!-- LOCK ICON -->
                                    <i [class]="rundown.isLocked ? 'bi bi-lock' : 'bi bi-unlock'" class="cursor-pointer"
                                        id="lockMenu" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                    <!-- LOCK MENU OPTIONS -->
                                    <ul class=" dropdown-menu dropdown-menu-secondary" aria-labelledby="lockMenu">
                                        <li *ngIf="!rundown.isLocked"><button class="dropdown-item" type="button"
                                                (click)="rundown.isLocked = true">Lock</button></li>
                                        <li *ngIf="rundown.isLocked"><button class="dropdown-item" type="button"
                                                (click)="rundown.isLocked = false; setPageNumbers(rundown)">Unlock</button>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                            <!-- HEADINGS -->
                            <th *ngFor="let heading of headings; let i = index"
                                [ngStyle]="{'width' : colWidths[i] + 'px'}" scope="col">
                                <div class="position-relative">
                                    <div>
                                        {{heading}}
                                    </div>
                                    <!-- RESIZE DIV -->
                                    <div #resize class="col-resize" title="Resize column"
                                        [ngStyle]="{'height':table.offsetHeight +'px', 'top': '-0.5rem'}"
                                        (mousedown)="activeColIndex=(i); isMoveActive=true; startWidth=colWidths[activeColIndex]">

                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- STORY ROWS -->
                        <tr *ngFor="let row of rundown.rows; let i = index" #rowElement
                            (dragstart)="handleDragstart($event, rowElement, row, rundown, i)"
                            (dragend)="handleDragend($event, rowElement, row, rundown, i)"
                            (dragenter)="handleDragenter($event, rowElement, row, rundown, i)"
                            (dragleave)="handleDragleave($event, rowElement, row, rundown, i)"
                            (dragover)="handleDragover($event, rowElement, row, rundown, i)"
                            (drop)="handleDrop($event, rowElement, row, rundown, i)"
                            [class]="((dragActiveRundownId==rundown.id) && (i == dragActiveIndex || i == dragStartIndex)) ||  selectedRowIndexes[activeRundownIndex].includes(i) ? 'row-highlight' : 'no-highlight'">
                            <!-- ROW MENU -->
                            <td class="text-center" class="cursor-pointer text-center" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <div class="dropdown" draggable="true">
                                    <!-- ROW MENU ICON -->
                                    <i class="bi bi-caret-down-fill"></i>
                                    <!-- ROW MENU OPTIONS-->
                                    <ul class="dropdown-menu dropdown-menu-secondary">
                                        <li><button class="dropdown-item" type="button" data-bs-toggle="modal"
                                                data-bs-target="#storyModal" (click)="storyModalRow = row">
                                                <i class="bi bi-book"></i>
                                                Open Story</button>
                                        </li>
                                        <li><button class="dropdown-item" type="button"
                                                (click)="addRow((i+1), rundown); rundownService.setRowSpans(rundown); !rundown.isLocked ? setPageNumbers(rundown) : '';">
                                                <i class="bi bi-plus-lg"></i>
                                                Add Row</button></li>
                                        <li><button class="dropdown-item" type="button"
                                                (click)="deleteRow(i, rundown.rows); rundownService.setRowSpans(rundown); !rundown.isLocked ? setPageNumbers(rundown) : '';">
                                                <i class="bi bi-x-lg"></i>
                                                Delete Row</button></li>

                                        <li><button class="dropdown-item" [class]="i==0 ? 'disabled' : ''" type="button"
                                                (click)="moveRow(i, (i-1), rundown); rundownService.setRowSpans(rundown); !rundown.isLocked ? setPageNumbers(rundown) : '';"><i
                                                    class="bi bi-arrow-up"></i> Move
                                                Up</button></li>
                                        <li><button class="dropdown-item" type="button"
                                                [class]="i==(rundown.rows.length - 1) ? 'disabled' : ''" type="button"
                                                (click)="moveRow(i, (i+1), rundown); rundownService.setRowSpans(rundown); !rundown.isLocked ? setPageNumbers(rundown) : '';"><i
                                                    class="bi bi-arrow-down"></i> Move
                                                Down</button></li>

                                        <li><button class="dropdown-item" type="button"
                                                (click)="selectOrUnselectRow(row, i)"><i class="bi bi-check-square"></i>
                                                {{selectedRowIndexes[activeRundownIndex].includes(i) ? "Unselect Row" :
                                                "Select Row"}}
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <!-- ROW MOVE -->
                            <td scope="col" class="px-0 cursor-move text-center" draggable="true">
                                <!-- ROW MOVE ICON -->
                                <i class="bi bi-three-dots-vertical"></i>
                            </td>
                            <!-- ROW STATUS -->
                            <td class="col-status text-center p-1" draggable="true">
                                <!-- ROW STATUS DROPDOWN -->
                                <div class="dropdown py-1"
                                    [class]="!row.body ? rundownService.setStatusBg('unwritten') : rundownService.setStatusBg(row.status)">
                                    <!-- ROW STATUS ICON -->
                                    <i [class]="!row.body ? rundownService.setStatusIcon('unwritten') : rundownService.setStatusIcon(row.status)"
                                        class="cursor-pointer" id="statusMenu" data-bs-toggle="dropdown"
                                        aria-expanded="false"></i>
                                    <!-- ROW STATUS MENU OPTIONS -->
                                    <ul class=" dropdown-menu dropdown-menu-secondary" aria-labelledby="statusMenu">
                                        <li><button class="dropdown-item"
                                                [class]="row.status=='approved' ? 'disabled' : !row.body ? 'disabled': ''"
                                                type="button" (click)="row.status='approved'">Approve</button></li>
                                        <li>
                                            <button class="dropdown-item" type="button"
                                                [class]="row.status=='ready' ? 'disabled' : !row.body ? 'disabled' : row.status == 'approved' ? 'disabled' : ''"
                                                (click)="row.status='ready'">Ready for
                                                Approval</button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item"
                                                [class]="row.status=='unapproved' ? 'disabled' : !row.body ? 'disabled' : ''"
                                                type="button" (click)="row.status='unapproved'">Unapprove</button>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <!-- ROW PAGE NUMBER -->
                            <td>
                                <app-page-cell [row]=row [isLocked]=rundown.isLocked></app-page-cell>
                            </td>
                            <td *ngIf="row.slugRowSpan > 0" [attr.rowspan]="row.slugRowSpan"
                                [ngStyle]="{'vertical-align' : row.slugRowSpan > 1 ? 'top' : ''}">
                                <app-slug-cell [row]=row [rows]=rundown.rows [rundown]=rundown></app-slug-cell>
                            </td>
                            <td *ngFor="let cell of cells">
                                <app-segment-cell *ngIf="cell=='Segment'" [row]=row></app-segment-cell>
                                <app-anchor-cell *ngIf="cell=='Anchor'" [row]=row></app-anchor-cell>
                                <app-est-time-cell *ngIf="cell=='Est Time'" [row]=row>
                                </app-est-time-cell>
                                <app-act-time-cell *ngIf="cell=='Act Time'" [row]=row></app-act-time-cell>
                                <app-writer-cell *ngIf="cell=='Writer'" [row]=row></app-writer-cell>
                                <app-back-time-cell *ngIf="cell=='Back Time'" [row]=row></app-back-time-cell>
                                <app-front-time-cell *ngIf="cell=='Front Time'" [row]=row>
                                </app-front-time-cell>
                                <app-notes-cell *ngIf="cell=='Notes'" [row]=row>
                                </app-notes-cell>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="storyModal" tabindex="-1" aria-labelledby="storyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <app-story-modal [row]="storyModalRow"></app-story-modal>
    </div>
</div>

<!-- <button class="btn btn-primary" (click)="updateRows()">Test</button>
<p>Table Height: {{table.offsetHeight}}</p> -->
<!-- <p>num {{d | date: "hh:mm:ss"}}</p>
<div *ngFor="let row of rows">
    <p>
        {{row.rowId}},
        {{row.pageNumber}},
        {{row.storySlug}},
        {{row.segment}},
        {{row.anchor}},
        {{row.estTime}},
        {{row.actTime}},
        {{row.writer}},
        {{row.backTime}},
        {{row.frontTime}},
        {{row.notes}},
        {{row.body}},
        {{row.status}},
        {{row.slugRowSpan}},
    </p>
</div> -->