<div class="sidebar-left-dark">
    <!-- <div class="row">
            <div class="col-12">
                <button class="btn btn-outline-light w-100 mb-3">Test Link</button>
                <button class="btn btn-outline-light w-100 mb-3">Test Link</button>
                <button class="btn btn-primary w-100 mb-3">Test Link</button>
            </div>
        </div> -->
    <div class="list-group list-group-flush">
        <a href="javascript:void(0)" class="list-group-item list-group-item-action list-group-item-dark"
            data-bs-toggle="collapse" href="#rundownChoices" role="button" aria-expanded="false"
            aria-controls="rundownChoices">Rundowns</a>
    </div>
    <div class="collapse" id="rundownChoices">
        <div class="list-group list-group-flush">
            <!-- <a class="list-group-item list-group-item-action" routerLink="/today-rundowns">Today Rundowns</a> -->
            <a class="list-group-item list-group-item-action" data-bs-toggle="modal"
                data-bs-target="#todayRundownsModal" (click)="findAllRundowns()">Today
                Rundowns</a>

            <a href="javascript:void(0)" class="list-group-item list-group-item-action">My Rundowns</a>
            <a class="list-group-item list-group-item-action" routerLink="/add-rundown">Add
                Rundown</a>
            <a href="javascript:void(0)" class="list-group-item list-group-item-action">More</a>
        </div>
    </div>
    <div class="list-group list-group-flush">
        <a href="javascript:void(0)" class="list-group-item list-group-item-action list-group-item-dark"
            data-bs-toggle="collapse" href="#storyChoices" role="button" aria-expanded="false"
            aria-controls="storyChoices">Stories</a>
    </div>
    <div class="collapse" id="storyChoices">
        <div class="list-group list-group-flush">
            <a href="javascript:void(0)" class="list-group-item list-group-item-action">New Story</a>
            <a href="javascript:void(0)" class="list-group-item list-group-item-action">Open Story</a>
            <a href="javascript:void(0)" class="list-group-item list-group-item-action">Delete Story</a>
        </div>
    </div>
    <!-- <div class="dragDiv">
        <i class="bi bi-arrow-left-right"></i>
    </div> -->
</div>

<div class="modal fade" id="todayRundownsModal" tabindex="-1" aria-labelledby="todayRundownsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <app-today-rundowns [todayRundowns]="rundownData"></app-today-rundowns>
    </div>
</div>