.sidebar-left-dark {
    width: 199px;
    border-top: 1px solid #6c757d; 
    border-bottom: 1px solid #6c757d; 
    border-left: 1px solid #6c757d; 
    color: white;
    height: calc(100vh - 49px);     /* Subtract sticky nav height with py-1 of 48px plus 1px for border-bottom (default nav height is 56px) */
    float: left;
    overflow: auto;
}